section.features
	.features-container
		.features-box
			.features-title-box
				.icon-box
					+icon('pencil')
				.features-title Clean theme
			.features-desc Ut nec lorem id orci convallis porta. Donec pharetra neque eu velit dictum molestie. Duis porta gravida augue sed viverra. Quisque at nulla leo, non aliquet mi.
			.read-more
				a(href="#")
					span Read More
		.features-box
			.features-title-box
				.icon-box
					+icon('fullscreen')
				.features-title Responsive Design
			.features-desc Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi euismod placerat dui et tincidunt. Sed sollicitudin posuere auctor. Phasellus at ultricies nisl. Integer at leo eros.
			.read-more
				a(href="#")
					span Read More
		.features-box
			.features-title-box
				.icon-box
					+icon('view-list')
				.features-title Fully layerd PSD 
			.features-desc Phasellus lobortis metus non augue sodales volutpat. Vestibulum sit amet nibh eros, hendrerit venenatis est. In vitae nulla nec purus cursus pretium sed id magna.
			.read-more
				a(href="#")
					span Read More
		.features-box
			.features-title-box
				.icon-box
					+icon('plane')
				.features-title Ready for coding
			.features-desc Vivamus convallis feugiat mauris sed posuere. Nam rutrum, quam quis euismod commodo, elit est porta quam, non placerat eros neque porta ante. Fusce quis odio urna.
			.read-more
				a(href="#")
					span Read More