ul.menu
	li
		a(href="/index.html") Home
	li
		a(href="#") About us
	li.services
		a(href="#").services-link Services
		ul.sub-menu
			li
				a(href="#") Web Design
			li
				a(href="#") Wordpress Design
			li
				a(href="#") Mobile App Development
			li
				a(href="#") Internet Marketing
			li
				a(href="#") Social Media Managment
	li.portfolio
		a(href="#").portfolio-link Portfolio
	li
		a(href="#") Blog
	li
		a(href="/contact.html") Contact us