section.slider
	.slider-container
		.slider
			.slide
				img(src="../static/img/content/slide-1.jpg", alt="Картинка слайда1")
			.slide
				img(src="../static/img/content/slide-2.jpg", alt="Картинка слайда2")
			.slide
				img(src="../static/img/content/slide-3.jpg", alt="Картинка слайда3")
			.slide
				img(src="../static/img/content/slide-4.jpg", alt="Картинка слайда4")
			.slide
				img(src="../static/img/content/slide-5.jpg", alt="Картинка слайда5")

