section.contacts
	padding 45px 0 36px
	font-size rem(14)
	font-family mainFont
	
.contacts-container
	width 100%
	max-width 1000px
	margin 0 auto
	//display flex
	//justify-content space-between
	//flex-wrap wrap
	
.icon-envelope
	size(24px,17px)
	fill activeTextColor
	
.contacts-title-box
	margin-bottom 40px
	padding-bottom 17px
	border-bottom 1px solid #d9d9d9
	display flex
	align-items center
	flex-wrap wrap
	
.contacts-title
	padding-left 16px
	color #000
	font-family boldFont
	font-size rem(15)
	text-transform uppercase
	
.contacts-data
	width 100%
	max-width 1000px
	display flex
	justify-content space-between
	flex-wrap wrap
	
.contacts-desc
	width 100%
	max-width 566px
	
	& span
		display block
		
	& span:first-child
		margin-bottom 27px
		
	& span:last-child
		margin-bottom 37px
		
.contacts-form
	input:not([type=submit])
		display block
		margin-bottom 10px
		padding 0 200px 70px 0
		border none

	textarea
		border none
		padding 0 214px 120px 0
		
.submit-button
	position relative

	input[type=submit]
		display block
		border 1px solid activeTextColor
		border-radius 5px
		padding 18px 31px 18px 60px
		background rgb(128,227,237) linear-gradient(rgb(128,227,237), rgb(42,172,200))
		color #000
		font-size rem(18)
		font-family boldFont
		text-transform uppercase
		
		&:hover
			background rgb(42,172,200)
			color #fff
		
.icon-submit
	position absolute
	top 50%
	left 20px
	transform translateY(-50%)
	fill #fff
	size(24px)
	
.location-container
	width 100%
	max-width 341px
	height 280px
	border 1px solid activeTextColor
	margin-bottom 38px
	padding 22px 19px 19px
	background-color secondAddColor
	font-size rem(14)
	font-family boldFont
	
	span
		display block
		margin-bottom 25px
		
	.map
		border 5px solid #fff
		
.location-adress>li:nth-child(1)
	margin-bottom 25px
	font-size rem(15)
	font-family boldFont
	text-transform uppercase
	
.location-adress>li:nth-child(3)
	margin-bottom 24px
