section.footer
	background-color addColor

.footer-container
	width 100%
	max-width 1000px
	margin 0 auto
	display flex
	justify-content space-between
	flex-wrap wrap
	padding 33px 0 50px
	font-size rem(14)
	font-family mainFont
	
	& li:nth-child(1)
		margin-bottom 18px
		font-size rem(15)
		font-family boldFont
		
.about_us
	li:first-child
		text-transform uppercase

	li:nth-child(1)
		margin-bottom 30px
	p
		margin-bottom 42px
		width 100%
		max-width 233px
		line-height 1.2
		
.explore,
.browse
	li:first-child
		text-transform uppercase

	li:not(:nth-child(1))
		margin-bottom 16px

.contact_us
	li:first-child
		text-transform uppercase

	li:nth-child(2)
		margin-bottom 20px

	span
		display block

.connect_us
	width 100%
	max-width 200px
	display flex
	justify-content space-between
	align-content flex-start
	flex-wrap wrap
	text-transform uppercase
	
	li
		margin-bottom 12px
		a
			display block
			size(53px,51px)
			background-size cover
			
	& li:first-child
		margin-right 47px
		
	& li:not(:first-child)
		size(53px,51px)

.facebook-icon
	background url('../img/content/facebook-icon.png') 0 0 no-repeat
	
.dribbble-icon
	background url('../img/content/dribbble-icon.png') 0 0 no-repeat
	
.pinterest-icon
	background url('../img/content/pinterest-icon.png') 0 0 no-repeat
	
.linkedin-icon
	background url('../img/content/linkedin-icon.png') 0 0 no-repeat
	
.skype-icon
	background url('../img/content/skype-icon.png') 0 0 no-repeat
	
.share-icon
	background url('../img/content/share-icon.png') 0 0 no-repeat

.copyright
	width 100%
	max-width 1000px
	display flex
	justify-content space-between
	flex-wrap wrap
	
	p
		width 100%
		max-width 640px