section.header
	border-bottom 1px solid #d9d9d9
	padding 36px 217px 46px 200px
	background-color addColor
	
.main-menu
	display flex
	justify-content space-between
	flex-wrap wrap
	
.logo
	span:first-child
		color #000
		font-family latoBoldFont
		font-size rem(50)
		
	span:last-child
		color activeTextColor
		font-family latoFont
		font-size rem(50)