@font-face {
			font-family: "ArialBold";
			src: url("../fonts/ArialBold/ArialBold.eot");
			src: url("../fonts/ArialBold/ArialBold.eot?#iefix")format("embedded-opentype"),
			url("../fonts/ArialBold/ArialBold.woff") format("woff"),
			url("../fonts/ArialBold/ArialBold.ttf") format("truetype");
			font-style: normal;
			font-weight: normal;
	}

@font-face {
			font-family: "ArialBoldItalic";
			src: url("../fonts/ArialBoldItalic/ArialBoldItalic.eot");
			src: url("../fonts/ArialBoldItalic/ArialBoldItalic.eot?#iefix")format("embedded-opentype"),
			url("../fonts/ArialBoldItalic/ArialBoldItalic.woff") format("woff"),
			url("../fonts/ArialBoldItalic/ArialBoldItalic.ttf") format("truetype");
			font-style: normal;
			font-weight: normal;
	}

@font-face {
			font-family: "ArialItalic";
			src: url("../fonts/ArialItalic/ArialItalic.eot");
			src: url("../fonts/ArialItalic/ArialItalic.eot?#iefix")format("embedded-opentype"),
			url("../fonts/ArialItalic/ArialItalic.woff") format("woff"),
			url("../fonts/ArialItalic/ArialItalic.ttf") format("truetype");
			font-style: normal;
			font-weight: normal;
	}

@font-face {
			font-family: "ArialRegular";
			src: url("../fonts/ArialRegular/ArialRegular.eot");
			src: url("../fonts/ArialRegular/ArialRegular.eot?#iefix")format("embedded-opentype"),
			url("../fonts/ArialRegular/ArialRegular.woff") format("woff"),
			url("../fonts/ArialRegular/ArialRegular.ttf") format("truetype");
			font-style: normal;
			font-weight: normal;
	}
	
@font-face {
			font-family: "Lato-Bold";
			src: url("../fonts/Lato-Bold/Lato-Bold.eot");
			src: url("../fonts/Lato-Bold/Lato-Bold.eot?#iefix")format("embedded-opentype"),
			url("../fonts/Lato-Bold/Lato-Bold.woff") format("woff"),
			url("../fonts/Lato-Bold/Lato-Bold.ttf") format("truetype");
			font-style: normal;
			font-weight: normal;
	}
	
@font-face {
			font-family: "Lato-Regular";
			src: url("../fonts/Lato-Regular/Lato-Regular.eot");
			src: url("../fonts/Lato-Regular/Lato-Regular.eot?#iefix")format("embedded-opentype"),
			url("../fonts/Lato-Regular/Lato-Regular.woff") format("woff"),
			url("../fonts/Lato-Regular/Lato-Regular.ttf") format("truetype");
			font-style: normal;
			font-weight: normal;
	}