/* Large Devices, Wide Screens */
@media screen and (max-width : 1200px)
	.w
		margin 0 10px

/* Medium Devices, Desktops */
@media screen and (max-width : 992px)
	.c
		padding 0 0 10px

/* Small Devices, Tablets */
@media screen and (max-width : 767px)
	.m
		display block
		
/* Extra Small Devices, Phones */
@media screen and (max-width : 480px)
	.m
		display block


