// ЦВЕТА

mainColor = #575152
addColor = #e8ebf1
secondAddColor = #81e4ed
activeTextColor = #2aacc8
mainTextColor = #363636
downloadBgColor = #e8fcfe


// РАЗМЕРЫ


// ШРИФТЫ

mainFont = "ArialRegular"
boldFont = "ArialBold"
italicFont = "ArialItalic"
boldItalicFont = "ArialBoldItalic"
latoFont = "Lato-Regular"
latoBoldFont = "Lato-Bold"